.text h1{
    position: absolute;
    width: 48.188rem;
    height: 12.313rem;
    top: 15.375rem;
    left: 9.875rem;
    color: #fff;

    font-size: 5.313rem;
    font-weight: 700;
    line-height: 6.125rem;
    letter-spacing: 0em;
    text-align: left;
}

.text h2{
    position: absolute;
    width: 39.438rem;
    height: 4.25rem;
    top: 29.25rem;
    left: 9.875rem;
    color: #B9971E;
}

img{
    position: absolute;
    width: 43.75rem;
    height: 40.046rem;
    top: 11.875rem;
    left: 61.875rem;

}