button{
    position: absolute;
    width: 26.438rem;
    height: 6.063rem;
    top: 36.75rem;
    left: 9.875rem;
    border-radius: 0.188rem;
    border: 0.063rem;
    background: #8872E7;
    box-shadow: 0rem 0.625rem 0.24rem 0rem #402C97;
    color: #fff;
    font-size: 1rem;

}